<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
 "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
	<properties resource="persistencia/mybatis/config/config.properties"/>
	
	<settings>
		<setting name="defaultStatementTimeout" value="2"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="model.Medico" alias="medico"/>
		<typeAlias type="model.OrdenAtencion" alias="detalleordexa"/>
		<typeAlias type="model.OrdenAtencion" alias="ordenatencion"/>
		<typeAlias type="model.Usuario" alias="usuario"/>
		<typeAlias type="model.Paciente" alias="paciente"/>
		<typeAlias type="model.Usuario" alias="usuario"/>
	</typeAliases>
	
    <environments default="clase">
    
        <environment id="clase">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">

             <property name="driver" value="${driver}"/>  
                          <property name="driver" value="${driver}"/>  
                          <property name="url" value="${url}"/>  
                          <property name="username" value="${username}"/>  
                          <property name="password" value="${password}"/>
              </dataSource>  
        </environment>
    </environments>
    
    <mappers>
        <package name="persistencia.mybatis.mapper"/>    
    </mappers>
    
</configuration>